<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">


    <link rel="stylesheet" href="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Title</title>

    <script type="text/javascript" src="../js/main_first.js"></script>
</head>
<body>
<div width="100%" height="100%">
    <div>
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">Profile</a></li>
            <li role="presentation"><a href="#">Messages</a></li>
        </ul>
    </div>
    <div class="row" style="width:100% ">
        <div class="col-md-2 col-sm-4" id="indexview">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">百度d</a>
                        </div>
                    </div>
                    <div id="collapseThree" class="panel-body panel-collapse collapse ">
                        <a href="/spring/student/Index" class="list-group-item " target="ppp">百度</a>
                        <a href="https://www.baidu.com/" class="list-group-item " target="ppp">好123</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10 col-sm-8 " id="mainview ">
            <iframe id="myframe" name="ppp" class="embed-responsive-item" frameborder="0" style="width: 100%"
                    onload="loud() "></iframe>
        </div>
    </div>
</div>

</body>
</html>