<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>
<body>

<div ng-app="myApp" ng-controller="personCtrl">
    <p>
    <p>
        名: <input type=text ng-model="firstName"/>
    </p>
    <p>{{name}}</p>
    <button ng-click="toggle()"> 隐藏/显示</button>
    </p>
</div> 

<script>
    var app = angular.module('myApp', []);
    app.controller('personCtrl', function ($scope,$http) {
        $scope.toggle = function () {
            $http({
                url:"/student/getbyid",
                method:"POST",
                data:$scope.firstName,
                dataType: "charset=utf-8",
            }).success(function(data,header,config,status){
                 $scope.name=data.name;
            }).error(function(data,header,config,status){
            });
        }
    });
</script>

</body>
</html>
